body {
    font-family: "Verdana";
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    margin: 0;

}

#tlo {
    background-image: url(../img/man-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
}

.napis {
    margin-top: 25%;
    margin-left: 2%;
}

.napis p {
    font-weight: 600;
}
